
body{
  background-image: url('../images/Register\ -\ Login.gif');
  background-size:cover;
  background-repeat:no-repeat;
  background-position: center;
  background-blend-mode: screen;
  justify-content: center;
  justify-items: center;
}
.row {
  display: flex;
}

.cell {
  width: 25px;
  height: 25px;
  border: 0.5px solid #2b1975;
}
h1{
  text-align: center;
  font-family: 'Chava';
  font-size: 60px;
  color: rgb(255, 255, 255);
  text-shadow: 1px 5px 10px rgb(136, 0, 255);
}
.tetris-container{
  background-color: rgba(14, 43, 117, 0.512);
}


