
body{
  background-image: url('../images/Register\ -\ Login.gif');
  background-size:cover;
  background-repeat:no-repeat;
  background-position: center;
  background-blend-mode: screen;
  justify-content: center;
  display: flex;
  gap: 30px;
  
}
.row {
  display: flex;
}

.cell {
  width: 25px;
  height: 25px;
  border: 1px solid #2b1975;
}
h1, .tetris-score{
  text-align: center;
  font-family: 'Chava';
  font-size: 60px;
  text-shadow: 1px 5px 10px rgb(0, 0, 0);
}
.tetris-container{
  display: flex;
  justify-content: center;
  gap: 20px;
  background-color: rgba(14, 43, 117, 0.512);
}


